.the_logo {
	width: 50%;
	height: auto;
}

.card-img-top{
	/* width:400px; */
	height: 450px;
}

.index_font {
	font-family: 'Montserrat', sans-serif;
}

.court_pic {
	align-content: center;
	width: auto;
	height: auto;
}

.schedule {
	padding-top: 20px;
	text-align: center; 
	padding-bottom: 20px; 
}

.google {
	font-size: 20px; 
	padding-top: 20px;
	padding-bottom: 20px;
}

.court {
	font-size: 28px; 
	text-align: center; 
	padding-bottom: 10px;
}

.court_images {
	width: 700px; 
	height: auto; 
	margin-top: 20px; 
	margin-bottom: 20px; 
}

.info {
	font-size: 18px; 
	text-align: center; 
	margin-right: 200px; 
	margin-left: 200px;
}

.programs {
	margin-bottom: 50px;
}

.history {
	margin-top: 50px;
}

.contact_button:hover {
	background-color: #85BEE8;
}